/* components/Navbar.css */

.navbar {
  background-color: #004d7a;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

.nav-links a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00e676;
}
